<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="root-menu" label="MENU">
  <item label="Terminal (st)">
    <action name="Execute"><command>/usr/bin/st</command></action>
  </item>
  <item label="Terminal (xterm)">
    <action name="Execute"><command>/usr/bin/xterm</command></action>
  </item>
  <item label="Chromium">
    <action name="Execute"><command>/usr/bin/chromium --no-sandbox --test-type</command></action>
  </item>
  <item label="Text Editor">
    <action name="Execute"><command>/usr/bin/mousepad</command></action>
  </item>
  <separator />
  <item label="Reconfigure Openbox">
    <action name="Reconfigure" />
  </item>
  <item label="Restart Openbox">
    <action name="Restart" />
  </item>
</menu>

</openbox_menu>
